
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient mt-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">
                    Список заказов
                </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        
        <table id="tblData" class="table table-bordered table-striped" style="width:100%; margin-left:-20px">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Имя</th>
                    <th>Номер телефона</th>
                    <th>Эл. почта</th>
                    <th>Статус заказа</th>
                    <th>Сумма</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/order.js"></script>
}