@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Оплата прошла успешно</h1>
        Номер вашего заказа: @Model <br /><br />
        <img src="~/images/product/с.png" width="70%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Оплата прошла успешно <br />
        <a asp-area="Admin" asp-controller="Order" asp-action="Details" 
        asp-route-orderId="@Model" class="btn btn-primary">Назад</a>
    </div>
</div>