@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Заказ оформлен успешно</h1>
        Номер вашего заказа: @Model <br/><br/>
        <img src="~/images/product/с.png" width="70%"/>
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br/>
        Ваш заказ был оформлен успешно <br/>
    </div>
</div>